<ion-content class="ion-padding">
  <h1 class="ion-text-center">
    <ion-icon name="done-all" color="primary" class="icon-7em"></ion-icon>
  </h1>

  <form [formGroup]="authForm" (submit)="onSubmit(authProviders.Email)">
    <ng-container *ngIf="!configs.isSignIn">
    <ion-item>
        <ion-icon name="person" color="primary" slot="start"></ion-icon>
        <ion-input type="text" placeholde="Name" formControlName="name"></ion-input>
        <ion-note slot="end" color="danger" *ngIf="name.dirty && name.hasError('required')">Required</ion-note>
        <ion-note slot="end" color="danger" *ngIf="name.dirty && name.hasError('minlength')">Min 3 characters</ion-note>
      </ion-item>
    </ng-container>
    <ion-item>
      <ion-icon name="mail" color="primary" slot="start"></ion-icon>
      <ion-input type="email" placeholde="Email" formControlName="email" inputmode="email" autofocus="true"></ion-input>
      <ion-note slot="end" color="danger" *ngIf="email.dirty && email.hasError('required')">Required</ion-note>
      <ion-note slot="end" color="danger" *ngIf="email.dirty && email.hasError('email')">Invalid email</ion-note>
    </ion-item>
  
    <ion-item>
      <ion-icon name="lock" color="primary" slot="start"></ion-icon>
      <ion-input type="password" placeholde="Password" formControlName="password"></ion-input>
    
      <ion-note  slot="end" color="danger" *ngIf="password.dirty && password.hasError('required')">Required</ion-note>
     <ion-note  slot="end" color="danger" *ngIf="password.dirty && password.hasError('minlength')">Min 6 characters</ion-note>
    </ion-item>

    <ion-button expand="block" type="submit" [disabled]="authForm.invalid" >{{ configs.action }}</ion-button>
  </form>


  <ion-button expand="block" fill="clear" (click)="changeAuthAction()">{{ configs.actionChange }}</ion-button>
  <ion-button expand="block" (click)="onSubmit(authProviders.Facebook)">
    <ion-icon name="logo-facebook" slot="start"></ion-icon>
    Login with Facebook
  </ion-button>

</ion-content>
